html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-header{
    padding-left:  0px;
}

.cell{
    text-align: center;
}
.el-pagination{
    margin-top: 30px;
    float: right;
}
/* .el-table--striped .el-table__body tr.el-table__row--striped td {
    background-color: #e7f4f1;
} */
.el-table__empty-block{
    min-height: 0px !important;
    height: 0px !important;
}